body {
  background-image: url('micro.jpg');
  background-repeat: no-repeat;
  
  
 
}
h3{
font-size:60px;
color:green;
margin-left:50px;}
#he{
font-size:20px;
color:georgian;
margin-left:500px;
text-decoration:none;
}
.he11{
font-size:20px;
color:georgian;
margin-left:30px;
text-decoration:none;
}
.he11:hover{
color:yellow;
}
#phase1{
	font-size:20px;
	margin-top:450px;
	margin-left:50px;
}
ul,li,a{
text-decoration:none;
}
#phase2{
	font-size:20px;
	margin-left:250px;
}
#phase3{
	font-size:20px;
	margin-left:500px;
}